{% extends 'base.html.twig' %}

{% block title %}Shopping cart{% endblock %}
{% block body %}

    <div align="center" id="shopping-cart">
        <h1 class="txt-heading" >Shopping Cart</h1>

{% if cart %}
    <a id="btnEmpty" class="btn btn-light" href="{{ path('cart_clear') }}">Empty Cart</a>
        {% set total_quantity = 0 %}
        {% set total_price = 0 %}


        <table class="tbl-cart" style="width: 80%" id="cart-table" cellpadding="10" cellspacing="1">
            <tbody>
            <tr>
                <th style="text-align:center;">Name</th>
                <th style="text-align:center;">Image</th>
                <th style="text-align:right;" width="5%">Quantity</th>
                <th style="text-align:right;" width="5%">Unit Price</th>
                <th style="text-align:right;" width="5%">Price</th>
                <th style="text-align:center;" width="5%">Actions</th>
            </tr>
            {% for item in cart %}
                {% set item_price = item["quantity"] * item["price"] %}

                <tr>
                    <td style="width: 5%; height: 5%;text-align:center;" >{{item["name"]}}</td>
                    <td style="width: 5%; height: 5%;text-align:center;"><img class="d-block img-fluid" src="{{ asset('/uploads/images/' ~ item['image']) }}" alt="Image not found"></td>
                    <td style="text-align:right;">{{item["quantity"]}}</td>
                    <td  style="text-align:right;">€ {{ item["price"] }}</td>
                    <td  style="text-align:right;">€ {{ item_price|number_format(2, '.', ',')}}</td>
                    <td style="text-align:center;"><a href="{{ path('cart_remove', {id: item['id']}) }}" class="btnRemoveAction">Remove from cart</a></td>
                </tr>

            {% set total_quantity = total_quantity + item["quantity"] %}
            {% set total_price = item["price"]*item["quantity"] + total_price %}
		        {% endfor %}


            <tr>
                <td colspan="2" align="right">Total:</td>
                <td align="right">{{ total_quantity }}</td>
                <td align="right" colspan="2"><strong>€ {{ total_price|number_format(2, '.', ',')}}</strong></td>
                <td></td>
            </tr>
            </tbody>
        </table>

    <input type="hidden" name="cmd" value="_ext-enter">
    <form class="paypalform" action="https://www.sandbox.paypal.com/us/cgi-bin/webscr" method="post">
        <input type="hidden" name="cmd" value="_cart">
        <input type="hidden" name="business" value="sb-3ogde1914139@business.example.com">
        <input type="hidden" name="upload" value="1">
        {% for item in cart %}
            <input type="hidden" name="item_name_{{ loop.index }}" value="{{item["name"]}}">
            <input type="hidden" name="quantity_{{ loop.index }}" value="{{item["quantity"]}}">
            <input type="hidden" name="amount_{{ loop.index }}" value="{{item["price"]}}">
        {% endfor %}

        <input type="hidden" name="currency_code" value="EUR">

        <input type="image" src="http://www.paypal.com/en_US/i/btn/x-click-but01.gif" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
    </form>

{% else %}

<div class="no-records">Your Cart is Empty</div>

{% endif %}
    </div>

{% endblock %}

{% block javascripts %}
    <script>



    </script>
{% endblock %}

