{% extends 'base.html.twig' %}

{% block title %}Product list{% endblock %}
{% block body %}
    <div class="container-fluid" style="padding: 1% 10%">
        <div class="d-flex justify-content-between">
            <h1>
                Products
            </h1>
            <span>
                <a class="btn btn-success float-right" style="margin:10px 0 10px 10px;" href="{{ path('product_create') }}">Add Product</a>
            </span>
        </div>

        <table class="table" id="product-table" style="empty-cells: hide">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Stock</th>
                    <th>Image</th>
                    <th>Category</th>
                    <th>Macronutrient ratio ("protein:carbohydrate:lipid")</th>
                    <th>Ingredients that can cause complications</th>
                    <th>Greenhouse gas emission (CO2-e)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr valign="middle">
                        <td>
                            {{ product.id }}
                        </td>
                        <td>
                            {{ product.name }}
                        </td>

                        <td>
                            €{{ product.price }}
                        </td>

                        <td>
                            {{ product.quantity }}
                        </td>

                        <td>
                            {{ asset('/uploads/images/' ~ product.image) }}
                        </td>

                        <td>
                            {{ product.category.name }}
                        </td>

                        <td>
                            {{ product.proteinPercent }}:{{ product.carbohydratePercent }}:{{ product.lipidPercent }}
                        </td>

                        <td>
                            {% for condition in product.conditions %}
                                {{ condition.description }}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {{ product.gasEmission }}
                        </td>


                        <td>
                            <a href="{{ path('product_details', {id:product.id}) }}">Details</a>
                            |
                            <a href="{{ path('product_edit', {id:product.id}) }}">Edit</a>
                            |
                            <a href="{{ path('product_delete', {id:product.id}) }}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        let checkboxList = [];

        $(document).ready(function () {
            $('#product-table').DataTable( {
            });


        });



        function printInvoice() {
            let printString = "";
            printString += '<table style="margin-bottom:10px;" border="1">';
            let counter = 0;
            checkboxList.forEach(function (checkBox) {
                if (counter % 5 === 0) {
                    printString += '<tr style="page-break-inside:avoid;">';
                }
                console.log(checkBox[0] + "  " + checkBox[1]  + "  " + checkBox[2]);
                printString += '<td style="padding:10px;"><h5>ID: ' + checkBox[0] + '</h5><h5>Name: ' + checkBox[1] + '</h5><img src="' + checkBox[2] + '"/></td>';
                counter += 1;
                if (counter % 5 === 0) {
                    printString += '</tr>';
                }
            });
            printString += '</table>';
            printQ(printString);
        }



        function printQ(printString) {
            let win = window.open('');
            win.document.write(printString);
            win.document.close();
            win.print();
            win.close();
        }

    </script>
{% endblock %}