{% extends 'base.html.twig' %}

{% block title %}Diet list{% endblock %}
{% block body %}
    <div class="container-fluid" style="padding: 1% 10%">
        <div class="d-flex justify-content-between">
            <h1>
                Diets
            </h1>
            <span>
                <a class="btn btn-success float-right" style="margin:10px 0 10px 10px;" href="{{ path('diet_create') }}">Add Diet</a>
            </span>
        </div>

        <table class="table" id="product-table" style="empty-cells: hide">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Dangerous foods and/or ingredients</th>
                    <th>Macronutrient ratio (protein:carbohydrate:lipid)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for diet in diets %}
                    <tr valign="middle">
                        <td>
                            {{ diet.id }}
                        </td>
                        <td>
                            {{ diet.name }}
                        </td>
                        <td>
                            {{ diet.description }}
                        </td>
                        <td>
                            {{ diet.proteinPercent }}:{{ diet.carbohydratePercent }}:{{ diet.lipidPercent }}
                        </td>

                        <td>
                            <a href="{{ path('diet_edit', {id:diet.id}) }}">Edit</a>
                            |
                            <a href="{{ path('diet_delete', {id:diet.id}) }}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    <script>

        $(document).ready(function () {
            $('#product-table').DataTable( {
            });

        });

    </script>
{% endblock %}